* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header{
	width: 100%; /* 横幅いっぱい　*/
	height: 70px; /* 高さ70px */
	background-color: #EC715F;
	text-align: left;
}

nav{
	margin: 0 auto;
	width: 1024px;
	height: 70px;


}

nav img{
	height: 70px;
}
.nav-list {
	text-align: right;
    font-size: 16px;
    float: right;
    color: #FAFAFA;
}

.nav-list-item {
	display: inline-block;
	margin: 30px;

}


.main-visual {
	width: 100%; /* 横幅 */
	height: 650px;/* 高さ */
	background-color: #3ADF00;/* 背景色 */
}

.portforio {
	width: 100%; /* 横幅 */
	height: 1400px; /* 高さ(多めに設定) */
	background-color: #ECEFF1;/* 背景色 */
}

.feature {
	width: 100%; /* 横幅*/
	height: 1400px; /* 高さ(多めに設定) */
	background-color: #81F7F3; /* 背景色 */
}

.contact {
	width: 100%; /* 横幅 */
	height: 1000px; /* 高さ(多めに設定) */
	background-color: #ECEFF1; /* 背景色 */
}

.footer {
	width: 100%; /* 横幅 */
	height: 60px; /* 高さ */
	background-color: #EC715F; /* 背景色 */
}